* {
	padding: 0;
	margin: 0;
	outline: none !important;
}

body {
	font-size: 16px;
}

.tooltip-inner {
	max-width: 360px;
	font-size: 15px;
}

.idvx-bg {
	background-image: url("../img/bgImg.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: auto 46%;
}

.idvx-navbar {
	/*background-color: red;*/

	margin: 0;
	min-height: 145px;
	border-style: none;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	background-color: transparent;
	border-color: transparent;
}

.idvx-navbar-container {
	/*background-color: pink;*/
	padding: 0;
}

.idvx-navbar-outer-container {
	/*background-color: green;*/

	padding: 24px 28px 16px;
	color: white;
}

.idvx-brand-title {
	font-size: 28px;
	font-weight: bold;
	line-height: 38px;
}

.idvx-brand-desc {
	font-family: "PingFangSC","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 100;

	height: 16px;
}

/*main content wrapper*/
.idvx-content-wrapper {
	/*background: grey;*/
 
	width: 100%;
}

.idvx-sidebar-fixed {
	/*background-color: blue;*/

	max-width: 308px;
	min-width: 308px;

	width: 308px;
 }

 .idvx-sidebar-container {
 	/*background-color: purple;*/

 	padding-left: 28px;
 	padding-top: 5px;
 }

.idvx-panel {
	margin-bottom: 10px;
	border-color: transparent;
	box-shadow: 0 4px 8px 2px #BCE3FF;
}

.divx-panel-height {
	height: 822px;
}

.idvx-panel-heading,
.panel-default > .idvx-panel-heading {
	padding: 13px 18px;
	color: #0253A2;
	background-color: white;
	border-color: transparent;
}

.idvx-panel-bottom {
	border-bottom: 1px solid #E7E8F2;
}

.idvx-panel-contentPadding.idvx-panel-bottom {
	border-style: none;
}

.idvx-panel-contentPadding {
	padding: 0 18px;
}

.idvx-searchBar-result {
	color: #A7A9C0;
	font-size: 12px;

	padding: 5px 4px;
}

#input-searchBar {
	height: 32px;
	box-shadow: none;
	-webkit-box-shadow: none;

	font-size: 12px;
	text-indent: 18px;
	vertical-align: middle;

	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	position: relative;

	display: inline-block;
}

#magnify {
	z-index: 10;
	position: absolute;
	top: 4px;
	left: 6px;

	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0 -969px;
}

.idvx-searchBar-button,
.idvx-searchBar-button:link,
.idvx-searchBar-button:visited {
	border: none;
	background-color: #FEC00F;
	
	color: white;
	font-weight: bold;
}

.idvx-searchBar-button:hover,
.idvx-searchBar-button:active,
.idvx-searchBar-button:focus,
.idvx-searchBar-button:focus:active {
	color: white;
	background-color: #EA970E;

	-webkit-box-shadow: none;
	box-shadow: none;
}

.input-group-btn:last-child > .idvx-searchBar-button {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	margin: 0px 1px 0 8px;
}

.idvx-timeFilter-container{
	margin: 8px;
	height: 3px;
	/*width: 100%;*/
}

.idvx-timeFilter-components {
	width: 100%;
	height: 3px;
	background-color: #E7E8F2;
	border: none;

	position: relative;
}

.idvx-timeFilter-normal {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
} 

.idvx-timeFilter-left {
	background-color: #FEC00F;
	border: none;

	transition: background-color 500ms;
}

.idvx-timeFilter-background {
	background-color: #E7E8F2;
	border: none;
}

.idvx-timeFilter-handle {
	width: 14px;
	height: 14px;
	background-color: #FEC00F;
	border: 1px solid #FEC00F;

	position: relative;
	top: -6px;
	left: -8px;
	z-index: 10;
	cursor: ew-resize;

	border-radius: 8px;
}


.idvx-timeFilter-relativeNum {
	font-size: 12px;
	color: #1B1B1B;
}

.idvx-timeFilter-relativeNum {
	padding: 2px 0 27px;

	position: relative;
    display: table;
    border-collapse: separate;

    width: 100%;
}

.idvx-left-relativeNum {
	display: table-cell;

	position: absolute;
	left: 0;

	width: 100%;
}

.idvx-right-relativeNum {
	display: table-cell;

	position: absolute;
	right: 0;
}

.idvx-btn-choicesGroup {
	width: 100%;
	padding-bottom: 12px;
}

.btn-group-vertical>.btn.idvx-bottom-btn {
	font-size: 16px;
	color: #A7A9C0;
	text-align: left;

	background-color: white;
	padding: 11px 17px;
	margin-bottom: 8px;
	border: 2px solid #E7E8F2;
}

.btn-group-vertical>.btn.btn-primary.idvx-bottom-btn {
	border-top-left-radius: 0; 
	border-bottom-left-radius: 0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group-vertical>.btn:hover {
	border: 2px solid #387BFF;
	box-shadow: 0 4px 4px 0 #8DCFFF;

	color: #151600;
	font-weight: bold;
}

.btn-group-vertical>.btn:hover {
	background-color: white;
}

.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus {
	background-color: #387BFF;
	color: #FEC00F;
}

.btn-primary.focus,
.btn-primary:focus {
	z-index: 1;
	color: #151600;
	border-color: transparent;
	background-color: white;
}

#idvx-panel-group-task > .idvx-panel-collapse-choicesGroup {
	margin-right: 8px;

	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

}

.idvx-row-container {
	padding: 0 15px;
}

#idvx-videoContainer {
	margin: 16px -10px;

	min-height: 140px;
	max-height: 1006px;
	overflow-y: auto;
	padding: 0 18px;

	height: 1006px;
}

#idvx-videoContainer-panel {
	box-shadow: 0 4px 8px 2px #BCE3FF;

	border-radius: 4px;
	border-color: transparent;

	margin-top: 22px;
	margin-bottom: 27px;
}


.idvx-clearfix:before,
.idvx-clearfix:after{
	content: "";
	display: table;
	clear: both;
}


.idvx-panel-buttonHeading {
	color: #A7A9C0;
    background-color: white;
    border-color: transparent;
    width: 100%;
    font-size: 16px;
    border: 2px solid #E7E8F2;
    padding: 9px 17px;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    text-align: left;
}

.panel.idvx-task-panelSingle {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
	border-color: transparent;

	/*background-color: #E9F4FB;*/
	/*box-shadow: 0 2px 4px 0 #8DCFFF;*/
	box-shadow: none;
	margin-bottom: 8px;
}

.collapse .idvx-task-panelBody,
.collapsed .idvx-task-panelBody,
.collapsing .idvx-task-panelBody,
.collapsing .idvx-task-panelBody {
	border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

   	background-color: #FFF;
   	box-shadow: 0 2px 4px 0 #8DCFFF;
}

.idvx-task-panelSingle .btn.btn-default:link,
.idvx-task-panelSingle .btn.btn-default:active,
.idvx-task-panelSingle .btn.btn-default:hover,
.idvx-task-panelSingle .btn.btn-default:focus {
	font-weight: bold;
	border-color: #387BFF;
    color: #000;
    background-color: white;
    box-shadow: 0 4px 4px 0 #8DCFFF;
}

.idvx-task-panelSingle .btn.btn-default[aria-expanded="true"] {
    border-color: #387BFF;
    font-weight: bold;
    color: #FEC00F;
    box-shadow: 0 4px 4px 0 #8DCFFF;
    background-color: #387BFF;
}

.panel-body.idvx-task-panelBody {
	padding: 14px 14px 10px;
}

.idvx-task-subtitle {
	padding: 0 20px;
	vertical-align: middle;
}

#object-checkbox01:not(.active):before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -1px;
}

#object-checkbox01.active:before,
#object-checkbox01.active.focus:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -1px;
}

#object-checkbox02:not(.active):before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -45px;
}

#object-checkbox02.active:before,
#object-checkbox02.active.focus:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0px -45px;
}

#object-checkbox03:not(.active):before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -89px;
}

#object-checkbox03.active:before,
#object-checkbox03.active.focus:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0px -89px;
}

#object-checkbox04:not(.active):before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -177px;
}

#object-checkbox04.active:before,
#object-checkbox04.active.focus:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0px -177px;
}

#object-checkbox05:not(.active):before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -131px;
}

#object-checkbox05.active:before,
#object-checkbox05.active.focus:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0px -131px;
}

.idvx-task-panelSingle #presentation[aria-expanded="false"]:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -220px;
}

.idvx-task-panelSingle #presentation[aria-expanded="true"]:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0px -220px;
}

.idvx-task-panelSingle #interpretation[aria-expanded="false"]:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -264px;
}

.idvx-task-panelSingle #interpretation[aria-expanded="true"]:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0px -264px;
}

.idvx-task-panelSingle #reasoning[aria-expanded="false"]:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -308px;
}

.idvx-task-panelSingle #reasoning[aria-expanded="true"]:before {
	content: "";
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0px -308px;
}



/*Filter bar*/
.ui-slider-horizontal {
    height: 3px;
}

.ui-widget-content {
    border: none;
    background: #E7E8F2;
}

.ui-corner-all {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.ui-widget-header {
    border: 1px solid transparent;
    background: #FEC00F;
}

.ui-slider .ui-slider-handle {
    width: 16px;
    height: 16px;
    cursor: ew-resize;
    outline: none;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -7px;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid transparent;
    background: #FEC00F;

}

.ui-slider-handle.ui-state-default.ui-corner-all:active,
.ui-slider-handle.ui-state-default.ui-corner-all:focus,
.ui-slider-handle.ui-state-default.ui-corner-all:hover {
    box-shadow: 1px 1px 1px 1px #d4eeff;
}
.ui-state-focus, .ui-widget-content .ui-state-focus {
	border: 1px solid transparent;
	background: #EA970E;
}


.btn .true {
    margin-left: 0;
}

.true {
    display: inline-block;
    vertical-align: middle;
    border-top: 4px transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    right: 20px;
    top: 18px;
	width: 20px;
    height: 12px;
    background-repeat: no-repeat;
    background-image: url(../img/icons.png);
    background-position: -111px -968px;
}


.idvx-collapsed-container {
	display: inline-block;
}

.idvx-collapsed-entry {
	margin: 0 1px 6px;
}

.idvx-collapsed-container > .btn-primary {
    background-color: #FFFFFF;
    border: 1px solid #E7E8F2;
    border-radius: 3px;
}

.idvx-collapsed-container > .btn-primary.hover,
.idvx-collapsed-container > .btn-primary:hover {
	box-shadow: 0 4px 4px 0 #8DCFFF;
	border: 1px solid #387BFF;
}

.idvx-collapsed-container > .btn-primary.focus,
.idvx-collapsed-container > .btn-primary:focus {
	color: #FEC00F;
	box-shadow: 0 4px 4px 0 #8DCFFF;
}

.idvx-collapsed-container > .btn.active,
.idvx-collapsed-container > .btn:active,
.idvx-collapsed-container > .btn-primary.active.focus,
.idvx-collapsed-container > .btn-primary.active:focus,
.idvx-collapsed-container > .btn-primary.active:hover,
.idvx-collapsed-container > .btn-primary:active.focus,
.idvx-collapsed-container > .btn-primary:active:focus,
.idvx-collapsed-container > .btn-primary:active:hover {
    background-color: #387BFF;
    box-shadow: 0 4px 4px 0 #8DCFFF;
    border-color: transparent;
    color: #FEC00F;
}

.idvx-task-panelSingle #presentation[aria-expanded="true"]:after {
	content: "";
	display: inline-block;
	position: relative;
	right: 14px;
	top: 3px;
	width: 20px;
	height: 12px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -968px;
}

.idvx-task-panelSingle #interpretation[aria-expanded="true"]:after {
	content: "";
	display: inline-block;
	position: relative;
	right: 19px;
	top: 3px;
	width: 20px;
	height: 12px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -968px;
}

.idvx-task-panelSingle #reasoning[aria-expanded="true"]:after {
	content: "";
	display: inline-block;
	position: relative;
	right: -3px;
	top: 3px;
	width: 20px;
	height: 12px;
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -111px -968px;
}


/*icons*/
.idvx-collapsed-container > button {
	width: 36px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	padding: 8px;
}

.idvx-collapsed-container > #one-one:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -353px;
	/*
	transition:background-image 1s;
	-moz-transition:background-image 1s;  Firefox 4 
	-webkit-transition:background-image 1s; /* Safari and Chrome */
}

.idvx-collapsed-container > #one-one {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -353px;
}

.idvx-collapsed-container > #one-two:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -397px;
}

.idvx-collapsed-container > #one-two {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -397px;
}

.idvx-collapsed-container > #one-three:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -441px;
}

.idvx-collapsed-container > #one-three {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -441px;
}

.idvx-collapsed-container > #two-one:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -485px;}

.idvx-collapsed-container > #two-one {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -485px;
}

.idvx-collapsed-container > #two-two:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -529px;
}

.idvx-collapsed-container > #two-two {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -529px;
}

.idvx-collapsed-container > #two-three:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -573px;
}

.idvx-collapsed-container > #two-three {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -573px;
}

.idvx-collapsed-container > #two-four:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -617px;
}

.idvx-collapsed-container > #two-four {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -617px;
}

.idvx-collapsed-container > #three-one:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -661px;
}

.idvx-collapsed-container > #three-one {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -661px;
}

.idvx-collapsed-container > #three-two:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -705px;
}

.idvx-collapsed-container > #three-two {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -705px;
}

.idvx-collapsed-container > #three-three:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -749px;
}

.idvx-collapsed-container > #three-three {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -749px;
}

.idvx-collapsed-container > #three-four:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -793px;
}

.idvx-collapsed-container > #three-four {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -793px;
}

.idvx-collapsed-container > #three-five:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -837px;
}

.idvx-collapsed-container > #three-five {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -837px;
}

.idvx-collapsed-container > #three-six:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -881px;
}

.idvx-collapsed-container > #three-six {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -881px;
}

.idvx-collapsed-container > #three-seven:not(.active) {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -112px -925px;
}

.idvx-collapsed-container > #three-seven {
	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: -1px -925px;
}


/*videos*/
.idvx-singleContainer {
	background: #E9F4FB;

	width: 208px;
	height: 122px;
	display: inline-block;
	margin: 0px 12px 24px 16px;
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 7px;
	overflow: hidden;
	word-wrap: break-word;
	box-shadow: 0 4px 4px 0 #8DCFFF;
	cursor: pointer;

	text-align: center;
}


img.idvx-videoImg {
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 6px;

	height: 111px;
	width: auto;
	max-width: 196px;
}

#idvx-videoContainer .btn-lg {
    padding: 0;
    border-radius: 0px;
}

#idvx-videoContainer .btn-primary {
    background-color: transparent;
    border-color: transparent;
}


.idvx-singleContainer:focus,
.idvx-singleContainer:hover,
.idvx-singleContainer.active {
	box-shadow: 0 5px 4px 0 #FEC00F;
}

#idvx-object .btn-group-vertical>.btn+.btn, #idvx-object .btn-group-vertical>.btn+.btn-group, #idvx-object .btn-group-vertical>.btn-group+.btn, #idvx-object .btn-group-vertical>.btn-group+.btn-group {
	margin-top: 0;
}

.idvx-modalPng {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

#idvx-modalTxt {
	height: 100%;
	width: 60%;
	display: inline-block;
	margin-left: 30px;
}

#idvx-modalSource {
	font-size: 14px;
}

#idvx-modalURL {
	font-size: 14px;
}

a {
	word-break: break-all;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.5em;
}
